<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:insert="commons/commons::head"></div>

<body class="app">
   
    <div class="container mb-5">
	    <div class="row">
		    <div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
			    <div class="app-branding text-center mb-5">
						<a class="app-logo" th:href="@{/index}"><img class="logo-icon mr-2" th:src="@{images/app-logo.svg}" alt="logo"><span class="logo-text">食谱生成及管理系统</span></a>
	
		        </div><!--//app-branding-->  
			    <div class="app-card p-5 text-center shadow-sm">
				    <h1 class="page-title mb-4">MASIJUN<br><span class="font-weight-light">Thanks for using</span></h1>
				    <div class="mb-4">
							<i class="phone icon"></i>17771878741
				    </div>
						<div class="mb-4">
							<i class="wechat icon"></i>MASIJUN99
						</div>
						<div class="mb-4">
							<i class="github icon"></i><a style="color:inherit" href="https://github.com/MASIJUN99">MASIJUN</a>
						</div>
				    <a class="btn app-btn-primary" th:href="@{/index}">返回首页</a>
			    </div>
		    </div><!--//col-->
	    </div><!--//row-->
    </div><!--//container-->


		<div th:insert="commons/commons::footer"></div>

    <!-- Javascript -->          
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
    
    

    <div th:insert="commons/commons::foot"></div>
    
    <!-- Charts JS -->
    <script src="assets/plugins/chart.js/chart.min.js"></script> 
    <script src="assets/js/charts-custom.js"></script> 
    
    <!-- Page Specific JS -->
    <script src="assets/js/app.js"></script> 

</body>
</html> 

