<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:insert="~{commons/commons::head}"></div>

<body class="app">
<div th:insert="~{commons/commons::navBar(active='date')}"></div>

<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">



      <div class="ui grid">
        <div class="three wide column">
          <i class="angle left large icon"></i>
          <a th:href="@{'/queryDate?dateStr='+${prev}}">上一天</a>
        </div>
        <div class="four wide column ">
            <h1 class="app-page-title">[[${date}]]菜谱</h1>
        </div>
        <div class="two wide column">
          <a th:href="@{'/queryDate?dateStr='+${next}}">下一天</a>
          <i class="angle right large icon"></i>
        </div>
        <div class="five wide column">
          <form class="ui action input" th:action="@{/changePeopleNum}" method="post">
              <input type="text" name="num" id="num" placeholder="人数..." th:value="${num}">
              <input type="text" name="date" id="date" th:value="${date}" hidden>
              <button  class="ui button">更改人数</button>
          </form>
        </div>
        <div class="two wide column">
          <form th:action="@{/deleteAll}" method="post">
            <input type="text" name="dateDel" id="dateDel" th:value="${date}" hidden>
            <input type="text" name="urlDel" id="urlDel" th:value="${url}" hidden>
            <button class="ui secondary button">清空当日</button>
          </form>
        </div>
      </div>

      <!-- 这里放内容！ -->
      <div th:if="${!breakfast.isEmpty()}">
        <h4>早餐</h4>
        <div class="ui cards">
          <!-- 一个卡片 -->
          <div class="card" th:each="dish:${breakfast}">
            <div class="content">
              <div class="header">
                [[${dish.getName()}]]
              </div>
              <div class="meta">
                <a th:if="${dish.getCategory()==0}">素菜</a>
                <a th:if="${dish.getCategory()==1}">荤菜</a>
                <a th:if="${dish.getCategory()==2}">半荤半素</a>
                <a th:if="${dish.getCategory()==3}">汤类</a>
              </div>
              <div class="description">
                no desc
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <a class="ui basic green button" href="#" data-toggle="modal" data-target="#changeModal"
                   th:onclick="changeSend([[${date}]], 1, [[${dish.getId()}]])">修改</a>
                <a class="ui basic red button" th:href="@{'/delDailyDish/'+${dish.getId()}(date=${date},time=1,url=${url})}">删除</a>
              </div>
            </div>
          </div>
          <!-- 添加 -->
          <div class="card">
            <div class="content">
              <div class="center aligned description">
                <a href="#" class="circular massive ui icon button" data-toggle="modal" data-target="#addModal"
                   th:onclick="addSend([[${date}]],1);">
                  <i class="icon plus"></i>
                </a>
              </div>
              <div class="extra content">
                <br/>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div th:if="${!lunch.isEmpty()}">
        <h4><br/>午餐</h4>
        <div class="ui cards">
          <!-- 一个卡片 -->
          <div class="card" th:each="dish:${lunch}">
            <div class="content">
              <div class="header">
                [[${dish.getName()}]]
              </div>
              <div class="meta">
                <a th:if="${dish.getCategory()==0}">素菜</a>
                <a th:if="${dish.getCategory()==1}">荤菜</a>
                <a th:if="${dish.getCategory()==2}">半荤半素</a>
                <a th:if="${dish.getCategory()==3}">汤类</a>
              </div>
              <div class="description">
                no desc
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <a class="ui basic green button" href="#" data-toggle="modal" data-target="#changeModal"
                   th:onclick="changeSend([[${date}]], 2, [[${dish.getId()}]])">修改</a>
                <a class="ui basic red button" th:href="@{'/delDailyDish/'+${dish.getId()}(date=${date},time=2,url=${url})}">删除</a>
              </div>
            </div>
          </div>
          <!-- 添加 -->
          <div class="card">
            <div class="content">
              <div class="center aligned description">
                <a href="#" class="circular massive ui icon button" data-toggle="modal" data-target="#addModal"
                   th:onclick="addSend([[${date}]],2);">
                  <i  class="icon plus"></i>
                </a>
              </div>
              <div class="extra content">
                <br/>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div th:if="${!dinner.isEmpty()}">
        <h4><br/>晚餐</h4>
        <div class="ui cards">
          <!-- 一个卡片 -->
          <div class="card" th:each="dish:${dinner}">
            <div class="content">
              <div class="header">
                [[${dish.getName()}]]
              </div>
              <div class="meta">
                <a th:if="${dish.getCategory()==0}">素菜</a>
                <a th:if="${dish.getCategory()==1}">荤菜</a>
                <a th:if="${dish.getCategory()==2}">半荤半素</a>
                <a th:if="${dish.getCategory()==3}">汤类</a>
              </div>
              <div class="description">
                no desc
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <a class="ui basic green button" href="#" data-toggle="modal" data-target="#changeModal"
                   th:onclick="changeSend([[${date}]], 3, [[${dish.getId()}]])">修改</a>
                <a class="ui basic red button" th:href="@{'/delDailyDish/'+${dish.getId()}(date=${date},time=3,url=${url})}">删除</a>
              </div>
            </div>
          </div>
          <!-- 添加 -->
          <div class="card">
            <div class="content">
              <div class="center aligned description">
                <a href="#" class="circular massive ui icon button" data-toggle="modal" data-target="#addModal"
                   th:onclick="addSend([[${date}]],3);">
                  <i  class="icon plus"></i>
                </a>
              </div>
              <div class="extra content">
                <br/>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div th:if="${breakfast.isEmpty() and lunch.isEmpty() and dinner.isEmpty()}">
        <h2>啥菜也没有啊兄弟</h2>
        <!-- 随机生成添加 -->
        <div class="ui cards">
          <div class="card">
            <div class="content">
              <div class="center aligned description">
                <a href="#" class="circular massive ui icon button" data-toggle="modal" data-target="#randomDish"
                   th:onclick="randomSend([[${date}]]);">
                  <i  class="icon plus"></i>
                </a>
              </div>
              <div class="extra content">
                <br/>
                <div class="center aligned">
                  要不要随机生成一批<br/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- changeDish JavaScript -->
        <script th:inline="javascript">
          function randomSend(date){
            console.log(date);
            $("#randomDate").val(date);
            $("#url3").val([[${url}]])
            console.log([[${url}]])
          }
        </script>
        <div class="modal fade" id="randomDish" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <form th:action="@{/randomDailyDishes}" class="modal-content">
              <div class="modal-header" >
                <h5 class="modal-title" id="randomModalLabel">添加</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body form-label">
                <input type="date" class="form-control" id="randomDate" name="dateStr" value=""><br/>
                <input type="text" class="form-control" id="url3" name="url" value="" hidden>
                <div class="ui equal width grid container">
                  <!-- 早餐 -->
                  <div class="column center aligned">
                    <div class="ui form">
                      <h4 class="ui dividing header">早餐</h4>
                      <div class="field">
                        <div class="ui input focus">
                          <input type="text" name="breakfastVegetable" placeholder="素菜数量" required>
                        </div>
                        <div class="ui input focus">
                          <input type="text" name="breakfastMeat" placeholder="荤菜数量" required>
                        </div>
                        <div class="ui input focus">
                          <input type="text" name="breakfastMixed" placeholder="半荤半素数量" required>
                        </div>
                        <div class="ui input focus">
                          <input type="text" name="breakfastSoup" placeholder="汤类数量" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- 午餐 -->
                  <div class="column center aligned">
                    <div class="ui form">
                      <h4 class="ui dividing header">午餐</h4>
                      <div class="field">
                        <div class="ui input focus">
                          <input type="text" name="lunchMeat" placeholder="荤菜数量" required>
                        </div>
                        <div class="ui input focus">
                          <input type="text" name="lunchVegetable" placeholder="素菜数量" required>
                        </div>
                        <div class="ui input focus">
                          <input type="text" name="lunchMixed" placeholder="半荤半素数量" required>
                        </div>
                        <div class="ui input focus">
                          <input type="text" name="lunchSoup" placeholder="汤类数量" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- 晚餐 -->
                  <div class="column center aligned">
                    <div class="ui form">
                      <h4 class="ui dividing header">晚餐</h4>
                      <div class="field">
                        <div class="ui input focus">
                          <input type="text" name="dinnerMeat" placeholder="荤菜数量" required>
                        </div>
                        <div class="ui input focus">
                          <input type="text" name="dinnerVegetable" placeholder="素菜数量" required>
                        </div>
                        <div class="ui input focus">
                          <input type="text" name="dinnerMixed" placeholder="半荤半素数量" required>
                        </div>
                        <div class="ui input focus">
                          <input type="text" name="dinnerSoup" placeholder="汤类数量" required>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                  <button class="btn btn-primary" type="submit">确认</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- addDish JavaScript -->
      <script th:inline="javascript">
        function addSend(date, time){
          console.log(date);
          console.log(time);
          $("#addDate").val(date);
          $("#addTime").val(time);
          $("#url").val([[${url}]])

        }
      </script>
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <form th:action="@{/addDailyDish}" class="modal-content">
            <div class="modal-header" >
              <h5 class="modal-title" id="addModalLabel">添加</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body form-label">
              <input type="date" class="form-control" id="addDate" name="addDate" value=""><br/>
              <select class="form-control" id="addTime" name="addTime">
                <option value="1">早餐</option>
                <option value="2">午餐</option>
                <option value="3">晚餐</option>
              </select><br/>
              <input type="text" class="form-control" id="url" name="url" value="" hidden>
              <select class="form-control" id="addDishId" name="addDishId">
                <option th:each="dish:${dishes}" th:value="${dish.getId()}">[[${dish.getName()}]]</option>
              </select>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
              <button class="btn btn-primary" type="submit">确认</button>
            </div>
          </form>
        </div>
      </div>

      <!-- changeDish JavaScript -->
      <script th:inline="javascript">
        function changeSend(date, time, dishId){
          console.log(date);
          console.log(time);
          console.log(dishId);
          $("#changeDate").val(date);
          $("#changeTime").val(time);
          $("#changeDishId").val(dishId);
          $("#oldDishId").val(dishId);
          $("#url2").val([[${url}]])
          console.log([[${url}]])
        }
      </script>
      <div class="modal fade" id="changeModal" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <form th:action="@{/changeDailyDish}" class="modal-content">
            <div class="modal-header" >
              <h5 class="modal-title" id="changeModalLabel">添加</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body form-label">
              <input type="date" class="form-control" id="changeDate" name="changeDate" value=""><br/>
              <select class="form-control" id="changeTime" name="changeTime">
                <option value="1">早餐</option>
                <option value="2">午餐</option>
                <option value="3">晚餐</option>
              </select><br/>
              <input type="text" class="form-control" id="oldDishId" name="oldDishId" hidden>
              <input type="text" class="form-control" id="url2" name="url" value="" hidden>
              <select class="form-control" id="changeDishId" name="changeDishId">
                <option th:each="dish:${dishes}" th:value="${dish.getId()}">[[${dish.getName()}]]</option>
              </select>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
              <button class="btn btn-primary" type="submit">确认</button>
            </div>
          </form>
        </div>
      </div>


      <div th:if="${!breakfast.isEmpty() or !lunch.isEmpty() or !dinner.isEmpty()}">
        <h4><br/>总览</h4>
        <div class="ui grid">
          <div class="two wide column" th:each="index:${indexList}" th:if="${recipeList[index] != 0}">
              <div class="header" >[[${recipeNameList[index]}]]</div>[[${#numbers.formatDecimal(recipeList[index],1,'COMMA',2,'POINT')}]]
          </div>
        </div>
      </div>





    </div><!--//container-fluid-->
  </div><!--//app-content-->

  <footer class="app-footer">
    <div class="container text-center py-3">
      <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
      <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by
        <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a>
        for developers</small>

    </div>
  </footer><!--//app-footer-->

</div><!--//app-wrapper-->


<!-- Javascript -->
<script th:src="@{plugins/popper.min.js}"></script>
<script th:src="@{plugins/bootstrap/js/bootstrap.min.js}"></script>

<!-- Charts JS -->
<script th:src="@{plugins/chart.js/chart.min.js}"></script>
<script th:src="@{js/index-charts.js}"></script>

<!-- Page Specific JS -->
<script th:src="@{js/app.js}"></script>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

<!-- jQuery -->
<script th:src="@{/js/jquery-3.6.0.js}"></script>

<div th:insert="commons/commons::foot"></div>

</body>
</html> 

